body {
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  /* background-color: black; */

  overflow: hidden;

  cursor: url(/images/cursor1.png), auto;
}

tr {
  cursor: url(/images/cursor2.png), auto;
}

.title {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
  background: #8A9A5B;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.text {
  text-align: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 25px;
  }
}

.table {
  display: flex;
  justify-content: center;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: inherit;
  /* color: white; */
  color: black;
  background: #8A9A5B;
  cursor: url(/images/cursor2.png), auto;
  border: none;
  border-radius: 10px;
}

td {
  width: 120px;
  height: 120px;
  text-align: center;
  color: white;
  /* color: black; */
}

@media screen and (max-width: 500px) {
  td {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 500px) {
  .tank {
    width: 50px;
    height: 50px;
  }
}

.td1 {
  border-right: 2px solid #8A9A5B;
  border-bottom: 2px solid #8A9A5B;
}

.td3 {
  
  border-bottom: 2px solid #8A9A5B;
}

.td2 {
  border-right: 2px solid #8A9A5B;
}

.table {
  background-image: url(/images/567.png);
  background-repeat: no-repeat;
  background-position: center ;
  filter: blur(0.5px);
}

@media screen and (max-width: 768px) {
  .table {
   background-size: cover;
  }
}

.table1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 280px;
  color: black;
  background-color: #8A9A5B;
  
}

.td4 {
  height: 30px;
  color: white;
  color: black;
}

.th {
  color: black;
}

.red {
  color: black;
   background: #8A9A5B;
}

.purple {
  color: black;
   background: #8A9A5B;
}

.green {
  color: black;
  background: white;
}

.white {
  background-color: white;
}

.btn {
  display: none;
}

.btn__active {
  display: block;
}

.step {
  display: flex;
  justify-content: center;
  color: #8A9A5B;
}

.step__none {
  display: none;
}

.icon {
  fill:#a500ff;
}

.icon2 {
fill: #FFC000;
}

.circle {
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.img-winner {
  width: 16px;
  height: 16px;
}

.active-x {
/* background-image: url(./images/3BBT.gif); */
background-image: url(/images/YKmD.gif);
background-position: center;
}


/* loader ____________________________ */

/* .preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.preloader__loader,
.preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__percents {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.none-active {
  display: none;
}

/* <style type="text/css"> */
/* @keyframes ldio-815zxcobh3 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-815zxcobh3 div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #7316df;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-815zxcobh3 div {
  animation: ldio-815zxcobh3 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-f3cld7brgbm {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  /* background: #f1f2f3; */
/* }
.ldio-815zxcobh3 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
/* }
.ldio-815zxcobh3 div {
  box-sizing: content-box;
} 

