body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}

.title {
  margin-top: 34px;
  margin-bottom: 0;
  font-size: 50px;
  text-align: center;
  /* background: linear-gradient(270deg, #3f5efb, #fc466b); */
  background: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) 30%,
    rgba(147, 41, 222, 1) 55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 0px;
  }
}

.table {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* align-items: center; */
  background-color: black;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: inherit;
  color: white;
  /* background-color: white; */
  background: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(147, 41, 222, 1) 96%
  );
}

.btn:active {
  background: green;
}

/* table {
  align-items: center;
  text-align: center;
} */

td {
  width: 120px;
  height: 120px;
  /* border: 1px solid black; */
  /* border: 1px solid white; */
  text-align: center;

  color: white;
  /* background-color: white; */
  background-color: black;
}

@media screen and (max-width: 500px) {
  td {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 500px) {
  td img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 500px) {
  td img {
    width: 70px;
    height: 70px;
  }
}

.td1 {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.td3 {
  border-bottom: 1px solid white;
}

.td2 {
  border-right: 1px solid white;
}

.table1 {
  display: block;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 280px;
  color: white;
  background-color: aliceblue;
}

.td1 {
  height: 30px;
}

.th {
  color: black;
}
